body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;   
    background-color: #f9f9f9;     
}


/*CSS Cabeçalho*/

.logo {
    margin-left: 3em;
    width: 7em;
    box-shadow: 0 0 1em black;
}

.links {
    top: -10px;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    transform: translate(20%, -10%);  
}

.cabecalho p {
    font-weight: 700;
    color: #f49242;
    font-size: 1em;
    width: 71%;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
}

/*CSS SECTION TITULOS*/

.titulos {
    margin: 1em;
}

.titulos__principal{
    margin: 1em;
}

.titulo {
    width: 80%;
    font-family: 'Fredericka the Great', cursive;   
    font-size: 2.3em; 
}

.titulo_2 {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

.botao-laranja-2 {
    display: block;
    width: 100%;
    background: #f49242;
    color: white;
    text-decoration:none;
    text-align: center;
    text-align: center;
    font-size: 0.8em;
}

.box-ano {
    float: right;
    width: 20%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.box-ano li {
    margin: 0;
  
}

.ano {
    font-family: 'Fredericka the Great', cursive;   
    font-size: 1.1em; 
}

.linha-decorativa {
    width: 50%;
}

/*CSS SECTION HERO*/

.destaque {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-image: url("../img/fundo_cinza.jpg");
    background-size: 100% 100%;
}

.caixa-camiseta {
    position: relative;
    height: 300px;
}

.camiseta {
    position: absolute;
    height: 300px;
    left: 50%;
    transform: translateX(-50%)
}

.bandeira {
    position: absolute;
    background: #f49242;
    width: auto;
    display: inline-block;
    padding: 0.5rem;
    top: 0;
    right: 10%;
}

.bandeira h3 {
    margin: 0;
    text-align: center;
}

.bandeira h6 {
    margin: 0;
    text-align: center;
}

.destaque h1 {
    text-transform: uppercase;
    margin: 0.5em 0;
    font-size: 28px;
    color: white;
}

.destaque h4 {
    margin: 0.5em 0;
    text-transform: uppercase;
    color: white;
}

.destaque p {
    color: white;
    font-size: 14px;
}

.botao-laranja {
    display: inline-block;
    background: #f49242;
    padding: 0.5rem 1rem;
}

.botao-laranja img {
    height: 10px;

}

@media (min-width: 768px) {
    .caixa-camiseta {
        float: left;
        margin: 0;
        width: 50%;
        height: 100%;
    }
    
    .camiseta {
        width: 350px;
        height: auto;
    }

    .destaque {
        height: 45%;
        
    }

    .conteudo-destaque {
        float: right:
    }

    .destaque h1 {
        margin-top: 7%;
    }

    .bandeira {
        position: absolute;
        right: 45%;
    }

}

/*CSS SECTION ARTIGO PRINCIPAL*/

.artigo-principal {
    margin: 0.5em 1.5em 1em 1em;
    font-family: 'Titillium Web', sans-serif;
}

.artigo-principal h1 {
    text-transform: uppercase;
}

.artigo-principal h2 {
    text-transform: uppercase;
    font-size: 1.1em;
    
}

.artigo-principal__link {
    color: #FF4C10;
}


@media(min-width: 768px) {

    .artigo-principal {
        margin: 2em;
    }

    .conteudo {
        box-sizing: border-box;
        float: left;
        width: 50%;        
        padding: 0 1rem 0 0;
    }

    .conteudo:last-child { 
        float: right;
    }
}

@media(min-width: 992px) {

    .artigo-principal h1 {
        font-size: 2.5em;
    }

    .conteudo {
        box-sizing: border-box;
        padding: 0 2rem 0 0;
    }

}

/*CSS SECTION ARTIGOS INFERIORES*/
/* LUCIA */

.linha-topo{
    background-color:#fff;
    height: 1rem;
    margin: 1rem;  
}
.cartao-conteudo{
    background-color:#fff;
    height: 10rem;
    margin: 1rem;
    position: relative;
}
.cartao-conteudo-imagem{
height: 6rem;
padding: 0.2rem;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
.titulinho{
    text-align: center;
    padding: 0.2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.rodape-marca{
    width: 70%;
    margin: 0.5rem auto;
}
.artigos-inferiores{ /*parte da LUCIA, avaliar ela mal e fica tudo certo!*/
    width: 100%;
    margin: 0;
}

@media (min-width: 768px) {
.cartao-conteudo-imagem{
    width: 20%;
    padding: 0.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
}

@media (max-width: 320px){
.cartao-conteudo{
width: 20%;
padding: 0.2rem;
left: 50%;
transform: translateX(-50%);
position: absolute;
}

.rodape-marca{
width: 70%;
}
}